body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#78e9e9, #6570eb);
    margin: 0;
    overflow-x: hidden;
}

#navbar{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 3em;
    color: #eee;
    background-color: rgb(15, 15, 15);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#insert{
    margin: 4em 0;
    width: fit-content;
    padding: 0;
}

table{
    padding: 0;
    width: 50vw;
}

td{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 10px;
    margin: 3px 0;
    font-size: 1.5em;
    color: rgb(24, 24, 24);
    box-shadow: 0 0 5px 1px rgb(29, 29, 29);
    background-color: rgb(219, 219, 219);
}

input[type="checkbox"]{
    transform: scale(2);
}

.item-inputs input{
	margin: 0 10px;
}

@media (max-width: 800px) {
    table{ width: 90vw; }
}
